 .aside {
  background-color: #332c2c;
  border: 1px solid #ffff2b54;
  box-sizing: border-box;
  color: #ffff2b;
  height: 90vh;
  width: 22%;
  overflow: hidden;
  position: relative;
  
  }

  .body {
   position: absolute;
   left: 12px;
   width: 90%;
   height: 100%;
   margin: 0;
   line-height: 30px;
   text-align: center;
   animation: scroll-up 15s linear infinite;
  }

  @keyframes scroll-up {
   0%   { 
   transform: translateY(100%); 		
   }
   100% { 
   transform: translateY(-110%); 
   }
  }

.minimize-side {
  align-items: center;
  background: rgba(255, 255, 255, 0.178);
  border-radius: 10px;
  bottom: 5px;
  color: rgb(58, 57, 57);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: 3px;
  width: 50px;
  font-size: 12px;
}

.minimize-side:hover {
  background: rgba(255, 255, 255, 0.199);
  color: black;
}