.main {
  border: 1px solid rgb(80, 80, 80);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 2fr));
  height: 90vh;
  width: 50%;
  overflow: scroll;
}

.add-fav-notes {
  font-size: 24px;
  color: rgb(134, 133, 133);
  padding-top: 50%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #3e3e3e; 
}
 
::-webkit-scrollbar-thumb {
  background: #626262; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}