.card {
  height: 260px;
  width: 200px;
  /* border: 1px solid red; */
  margin: 10px;
}
.card-header {
  background-color: #000;
  border: 1px solid #3e3e3e;
  color: #ffff2b;
  font-size: 1.1em;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  background: rgba(0,0,0,0.19);
  border: 1px solid #3e3e3e;
  color: white;
  height: 65%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}

.card-footer {
  background-color: rgba(0,0,0,0.19);
  border: 1px solid #3e3e3e;
  height: 15%;

}