.card {
  height: 280px;
  width: 200px;
  /* border: 1px solid red; */
  margin: 10px;
}
.card-header {
  background-color: #000;
  border: 1px solid #3e3e3e;
  color: #ffff2b;
  font-size: 1.1em;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  background: rgba(0,0,0,0.19);
  border: 1px solid #3e3e3e;
  color: white;
  height: 65%;
  text-align: left;
}

.card-footer {
  background-color: rgba(0,0,0,0.19);
  border: 1px solid #3e3e3e;
  height: 15%;
}

.card-fav-btn {
  width: 30px;
  float: right;
  cursor: pointer;
  padding-right: 7px;
  padding-top: 8px;
}

.body-item {
  padding: 5px;
  padding-left: 12px;
}

.label {
  color: rgb(165, 165, 165);
  display: block;
  font-size: 12px;
}

