.card {
  height: 260px;
  width: 200px;
  /* border: 1px solid red; */
  margin: 10px;
}
.card-header {
  background-color: #000;
  border: 1px solid #3e3e3e;
  color: #ffff2b;
  font-size: 1.2em;
  height: 20%;
}

.card-body {
  background-color: rgba(0,0,0,0.19);
  border: 1px solid #3e3e3e;
  color: white;
  height: 65%;
}

.card-footer {
  background-color: rgba(0,0,0,0.19);
  border: 1px solid #3e3e3e;
  height: 15%;

}