.nav {
  /* border: 1px solid red; */
  height: 90vh;
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}


.logo {
  width: 100%;
}

.buttons-container {
  height: 210px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-btn {
  border: 1px solid #ffff2b;
  width: 100%;
  height: 35px;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  color: #ffff2b;
  font-size: 14px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* .nav-btn:hover {
  background: #ffff2b13;
} */

.nav-fav-btn {
  width: 100%;
  height: 35px;
  background: transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #FF7600;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-left: 1px solid #3e3e3e;
}

/* .nav-fav-btn:hover {
  background: rgba(255, 119, 0, 0.15);
} */

.fav-count {
  align-items: center;
  background: #FF7600;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  display: flex;
  justify-content: center;
  width: 30%;
  color: #fff;
}

.fav-btn-container {
  display: flex;
  border: 1px solid #FF7600;
  border-radius: 5px;
}

.active-btn {
  background-color: #ffff2b;
  color: #3e3e3e;
}

.fav-active {
  background: #FF7600;
  color: #fff;
  border-left: 1px solid #3e3e3e;
}